.about-us__title {
  margin: 40px 0 20px;
  font-family: 'Futura Condensent Medium';
  font-size: 50px;
  font-weight: normal;
}

@media (min-width: 550px) {
  .about-us__title {
    margin: 70px 0 20px;
  }
}

@media (min-width: 768px) {
  .about-us__title {
    margin: 124px 0 20px;
  }
}