.contact-us__order-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 550px) {
  .contact-us__order-column {
    grid-column: 1 / -1;
  }
}

@media (min-width: 975px) {
  .contact-us__order-column {
    grid-column: 2;
    align-self: center;
  }
}