.home__logo {
  width: 180px;
  height: 29px;
  margin: 0 0 15px;
  background-image: url(../../../images/home-logo.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (min-width: 425px) {
  .home__logo {
    width: 227px;
    height: 37px;
  }
}

@media (min-width: 768px) {
  .home__logo {
    width: 343px;
    height: 56px;
    margin: 0 0 27px;
  }
}