.menu__link {
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  text-decoration: none;
  padding: 15px;
  font-family: 'FuturaPT Book';
  font-size: 20px;
}

.menu__link:hover {
  background-color: #ffba00;
  color: #000;
}