.order-button {
  width: 140px;
  height: 35px;
  display: block;
  background-color: #ffb800;
  border: none;
  font-family: 'FuturaPT Medium';
  font-size: 18px;
}

@media (min-width: 768px) {
  .order-button {
    width: 175px;
    height: 47px;
    font-size: 20px;
  }
}